<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../img/netflix-logooo-app-png-16.png" type="image/x-icon">
</head>
<body>
    <div id="main">
        <header>
            <img src="../img/logo (1).png" class="logo">
        </header>
        <div id="container">
            <div id="container-acess">
                <h1>Entrar</h1>
                <input type="text" placeholder="Email ou número de telefone">
                <input type="text" placeholder="Senha">
                <button>Entrar</button>
                <p>Novo por aqui?<a href="https://www.netflix.com/br/"> Assine agora</a></p>
                <p style="font-size: 16px;" >Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a style="color: #00006A;" href=""> Saiba mais.</a></p>
            </div>
        </div>
        <div id="footer">
            <h2>Duvidas? Ligue 0800-761-4631</h2>
            <div id="links">
                <div id="lineOne">
                    <a href="https://help.netflix.com/pt/node/412">Perguntas frequentes</a>
                    <a href="https://help.netflix.com/pt/">Centro de ajuda</a>
                    <a href="https://help.netflix.com/legal/termsofuse">Termos de uso</a>
                </div>
                <div id="lineTwo">
                    <a href="">Preferênciasde cookies</a>
                    <a href="https://help.netflix.com/legal/corpinfo">Informações corporativas</a>
                    <a href="https://help.netflix.com/legal/privacy">Privacidade</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>